
<nav class="navbar navbar-default" id="nav">
    <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:white">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{#if login}}
                <li><a class="fa fa-user" style="color: white;" href="/user/profile">&nbsp; User Account</a></li>
                
                    <li><a class="glyphicon glyphicon-log-out"style="color: white;" href="/user/logout">&nbsp; Logout</a></li>
                {{else}}
                    <li><a href="/shopping-cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
                    <span class="badge">{{session.cart.totalQty}}</span>
                    <li><a class="glyphicon glyphicon-user" style="color: white;" href="/user/signup">&nbsp; SignUp</a></li>
                    <li><a class="glyphicon glyphicon-log-in" style="color: white;"  href="/user/signin">&nbsp; SignIn</a></li>
                {{/if}}
        
                

            </ul>
        </div>
    </div>
    </nav>
    

