

<div class="w3-container">
  <div class="w3-card-4" style="width:50%">
    <img src="img_snowtops.jpg" alt="Alps" style="width:100%">
    <div class="w3-container w3-center">
      <p></p>
    </div>
  </div>
</div>

