{{!-- <div class="w3-card-4" id="b" style="width:100%">
    <div class="w3-container ">
     <span>Delievery</span>
     &nbsp;
     &nbsp;
     &nbsp;
     <span>BestSellers</span>
    </div>
  </div>
  <br>
  <br> --}}
  {{> caraursel }}
<div class="container" style="margin-top: 50px;">
    
{{# each Restaurants }}
  <div class="row">
    
    {{# each this}}
      <div class="col-sm-6 col-md-4" id="a" style="margin-bottom: 30px;"> 
        <div class="w3-card-4" style="height: 350px">
          <img class="img-responsive imgResto" src="{{ this.imagePath }}" alt="..." id="image">
          <div class="w3-container w3-center">
            <h3>{{ this.title }}</h3>
            <p class="description">{{ this.description }}</p>

            <div class="clearfix" style="margin-bottom: 20px;">
              <a href="/user/restaurant/{{this._id}}" class="btn btn-success pull-right" role="button">View Menu</a>
            </div>
          </div>
        </div>
        </div>
    {{/each}}
 
  </div>
{{/each}}
</div>
{{> footer }}