<div class="container">
  <ul class="nav navbar-nav navbar-right" style="padding-right:10px;" >
    <a href="/shopping-cart/" class="btn btn-primary" style="position:fixed"><i class="fa fa-shopping-cart" aria-hidden="true" ></i> View Bill
                  <span class="badge">{{session.cart.totalQty}}</span></a>                 
  </ul>
  <div class="w3-card-4" style="padding:20px">
  <table class="table" >
    <thead>
        <th scope="col" style="text-transform:uppercase;font-size: 30px">Food Menu</th>
        <th scope="col"></th>
    </thead>
  {{# each items }}
  <tr>
      {{# each this}}
      <tr>
            <td>{{ this.name }}</td>
            <td>₹{{ this.price }}</td>
      </tr>
      {{/each}}
  </tr>   
  {{/each}}
  </table>
  </div>
</div> 
