   <ul class="nav navbar-nav navbar-right" style="padding-right:10px;" >
   <a href="/shopping-cart/" class="btn btn-primary" style="position:fixed"><i class="fa fa-shopping-cart" aria-hidden="true" ></i> View Bill
                    <span class="badge">{{session.cart.totalQty}}</span></a>                 
   </ul>
{{# each items }}
  <div class="row">
    <br>
       <div class="w3-card-4" id="b" style="width:70%">
       <div class="w3-container w3-center"><h1>Food Menu</h1> </div>  
    {{# each this}}
        <div class="w3-container">
            <h3>{{ this.name }}</h3>
            Rs {{ this.price }}
            <a href="/add-to-cart/{{ this._id }}" class="btn btn-success pull-right" role="button">Add to Cart</a>
        </div>
              <br>
    {{/each}}
    <br>
    </div>
  </div>
{{/each}}
